.todo-container{
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}
.todo-container.show{
     visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: popIn 0.3s ease-out forwards;
}
.todo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border: #000 1px solid;
    border-radius: 15px 15px 0 0;
    background-color: rgba(250, 235, 215, 0.874);
    color: #000;
}

.todo-body{
    display: block;
    border-radius:  0 0 15px 15px;
    color: #000;
    border: #000 1px solid;
    height: 28vh;
    overflow-y: scroll;
    background-color: rgba(250, 235, 215, 0.874);
}

::-webkit-scrollbar {
  width: 12px;
  border: 2px solid black;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(250, 235, 215, 0.874);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #957118;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c99921;
  border-radius: 5px;
}

.modal-container{
    left:20vw;
    bottom: 80vh;
}

.todo-form-container{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.isComplete{
    text-decoration: line-through;
}
.todo-individual-container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}
.trash-icon{
    cursor: pointer;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}