.quotes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.779);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}
.quotes-container.show{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: popIn 0.3s ease-out forwards;
}

.quotes-container:hover .author-container {
  visibility:visible;
  transform: scale(1);
  animation: popIn 0.3s ease-out forwards;
  opacity: 1;
}

.author-container{
    display: flex;
    justify-content: center;
    visibility: hidden;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}